<div class="view-wrapper list-page">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="dataSource"
    [remoteOperations]="false"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    [width]="'100%'"
    [height]="'auto'"
    (onEditingStart)="onEditingStart($event)"
    (onExporting)="onExporting($event)"
  >

    <dxo-search-panel
      [visible]="true"
      [highlightCaseSensitive]="true"
    ></dxo-search-panel>
    <dxo-export
    [enabled]="true"
    [allowExportSelectedData]="true"
    [formats]="['xlsx', 'pdf']"
  >
  </dxo-export>

    <dxo-toolbar>
      <dxi-item name="searchPanel" locateInMenu="before"></dxi-item>
      <dxi-item location="before" text="Antibiotics" cssClass="font-bold text-lg" alignment="left"></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <dx-button icon="plus" type="default" stylingMode="contained" (onClick)="openPopup()"></dx-button>
      </dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <dx-button icon="refresh" stylingMode="text" (onClick)="refreshData()"></dx-button>
      </dxi-item>
      <dxi-item name="exportButton"></dxi-item>
    </dxo-toolbar>
    <dxo-header-filter [visible]="true" ></dxo-header-filter>
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true"
      [useIcons]="true"
    ></dxo-editing>

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[10, 25, 50, 100]"
    ></dxo-pager>

    <dxi-column
      dataField="ANTIBIOTIC"
      caption="Antibiotic"
      alignment="left"
    ></dxi-column>
    <dxi-column
      caption="Class Id"
      dataField="CLASS_ID"
      alignment="left"
    ></dxi-column>
    <dxi-column
      caption="Class Name"
      dataField="CLASS_NAME"
      alignment="left"
    ></dxi-column>


    <dxi-column
    dataField="DISPLAY_ORDER"
    caption="Display Order"
    dataType="number"
    alignment="left"
  ></dxi-column>
  <dxi-column
  dataField="IS_INACTIVE"
  caption="Status"
  alignment="left"
  [calculateCellValue]="formatStatus"
></dxi-column>
 
  </dx-data-grid>
  <!-- =============================== Add Antibiotics============================= -->

  <dx-popup
    [title]="'New Antibiotics'"
    [(visible)]="isAddPopup"
    [width]="500"
    [height]="360"
  >
    <dx-form id="form" [formGroup]="formsource">
      <dxi-item itemType="group" cssClass="form-group" [colCount]="1">
        <dxi-item itemType="group" [colSpan]="3">
          <dxi-item dataField="Antibiotic" [label]="{text:'Antibiotic',showColon: false}"> <dx-text-box [(value)]="formsource.controls['Antibiotic'].value"></dx-text-box></dxi-item>
         <dxi-item [label]="{text:'Classification',showColon: false}">
           <dx-select-box
          [(value)]="classification.ID"
          [items]="classification"
          displayExpr="DESCRIPTION"
          valueExpr="ID"
          style="flex: 1"
          (onValueChanged)="onCLassificationSchemaChange($event)"
         
        ></dx-select-box>
         </dxi-item>
         <dxi-item dataField="display_order" [label]="{text:'Display Order',showColon: false}">  
          <dx-number-box formControlName="display_order" ></dx-number-box></dxi-item>
           
          <dxi-item [label]="{text:'Inactive', showColon: false}">
            <dx-check-box
              class="mt-4"
              formControlName="IS_INACTIVE"
              [elementAttr]="{ 'aria-label': 'Unchecked' }"
              id="checkboxadd"
            ></dx-check-box>
          </dxi-item>
          
   
          <dxi-item class="d-flex justify-content-end mt-4">
            <button
              class="btn text-dark border border-1 me-3"
              (click)="closePopup()"
            >
              Cancel
            </button>
            <dx-button
              class=""
              text="Save"
              type="default"
              stylingMode="contained"
              (onClick)="Add_Antibiotic_Details()"
            ></dx-button>
          </dxi-item>
        </dxi-item>
      </dxi-item>
    </dx-form>
  </dx-popup>

  <!-- =========================== Update Antibiotic============================== -->

  <dx-popup
    [title]="'Update Antibiotics'"
    [(visible)]="isEditPop"
    [width]="400"
    [height]="370"
    [closeOnOutsideClick]="true"
  >
  <dx-form id="form" [formData]="editAntibioticsData">
    <dxi-item itemType="group" cssClass="form-group" [colCount]="1">
      <dxi-item itemType="group" [colSpan]="3">
        <dxi-item dataField="ANTIBIOTIC" [label]="{text:'Antibiotic',showColon: false}"> <dx-text-box [(value)]="formsource.controls['Antibiotic'].value"></dx-text-box></dxi-item>
       <dxi-item [label]="{text:'Classification',showColon: false}">
         <dx-select-box
        [(value)]="classification.ID"
        [items]="classification"
        displayExpr="DESCRIPTION"
        valueExpr="ID"
        style="flex: 1"
        (onValueChanged)="onCLassificationSchemaChange($event)"
       
      ></dx-select-box>
       </dxi-item>
       <dxi-item dataField="display_order" [label]="{text:'Display Order',showColon: false}">  
        <dx-number-box  ></dx-number-box></dxi-item>
         
        <dxi-item [label]="{text:'Inactive', showColon: false}">
          <dx-check-box
            class="mt-4"
            formControlName="IS_INACTIVE"
            [elementAttr]="{ 'aria-label': 'Unchecked' }"
            id="checkboxadd"
          ></dx-check-box>
        </dxi-item>
        

        <!-- test -->
 
        <dxi-item class="d-flex justify-content-end mt-4">
          <button
            class="btn text-dark border border-1 me-3"
            (click)="closePopup()"
          >
            Cancel
          </button>
          <dx-button
            class=""
            text="Save"
            type="default"
            stylingMode="contained"
            (onClick)="Add_Antibiotic_Details()"
          ></dx-button>
        </dxi-item>
      </dxi-item>
    </dxi-item>
  </dx-form>
  </dx-popup>
</div>
